[user]
	name = Ivan Lee
	email = miracle.ivanlee@gmail.com
    #name = Yi Li
	#email = amzyili@amazon.com
[core]
	editor = vim
	pager = less -FMRiX
	excludesfile = /Users/amzyili/.gitignore_global
[merge]
	tool = vimdiff
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	br = branch
	ci = commit
	st = status
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
[color]
    ui = auto
[push]
	default = simple
